// Streams and Timeline
// --------------------------------------------------
.stream-list {
  position: relative;
}

.stream-group {
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0px;
  }
}

.stream-title {
  padding: @grid-gutter-width*((1/3)) @grid-gutter-width*0.5 @grid-gutter-width*((1/3)*0.9);
  background: white;
  border-bottom: 2px solid lighten(@clouds, 3%);
  font-size: @font-size-small*0.92;
  //color: @text-color;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  cursor: pointer;
  width: auto;
  min-width: 85px;
  text-align: center;
  display: inline-block;
  a {
    color: @link-color;
    text-transform: none;
    font-weight: normal;
    text-decoration: none;
  }
}

.stream-activity{
  font-size: @font-size-small*0.92;
  padding: 5px @grid-gutter-width * 0.6;
  //margin-right on every child element;
  border-top: 1px dotted rgba(204, 204, 204, 0.07);
  font-style: italic;
  font-weight: normal;
  a{
    &:hover{
      color: inherit;
    }
  }
}

.stream-line, .stream-bridge {
  position: absolute;
  background: lighten(@clouds, 3%);
  z-index: 1;
  display: none;
}

.stream-line {
  width: 2px;
  left: 36px;
  top: 15px;
  bottom: -15px;
  cursor: pointer;
}

.stream-bridge {
  width: 90px;
  height: 2px;
  top: 40px;
  left: -45px;
}

.stream-input {
  margin-bottom: @grid-gutter-width*0.5
}

.stream-item {
  //min-height: 140px;
  border-bottom: 1px solid lighten(@clouds, 3%);
  &:hover{
    .time{
      display: block !important;
    }
  }
}

.stream {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    position: relative;
    .more {
      padding: 10px;
      margin: 5px 0 0 0px;
      border-radius: 1px;
      background-color: #D9EDF7;
      //color: #3A87AD;
      cursor: pointer;
      text-align: center;
      position: relative;
      z-index: 2;
      display: block;
    }
    .input {
      .form-control {
        .box-sizing(border-box);
      }
    }
    .link, .item {
      text-decoration: none;
      //padding: @grid-gutter-width*0.5;
      display: block;
      font-size: @font-size-base;
      //min-height: 65px;
      position: relative;
      &.has-featured-img, &.has-step-number {
        //padding: @grid-gutter-width;
        padding-left: 30px+ @grid-gutter-width*(5/3);
        //min-height: (30px+@grid-gutter-width);
        & ~ .stream-activity{
          padding-left: 30px+ @grid-gutter-width*(5/3);
        }
      }
      //&:hover{ background: #f9f9f9 }
      .clearfix();
      //&.reading{border: 1px solid transparent}
    }
    .media {
      .clearfix();
      display: inherit;
      img, figure {
        max-width: 100%;
        .clearfix();
      }
      .clearfix();
      .media-grid {
        margin: 15px 15px 0;
      }
    }
    .featured-img, .step-number, .featured-media, .cover-img{
      max-height: 50px;
      max-width: 50px;
      position: absolute;
      left: @grid-gutter-width * 0.4;
      // top: 0;
      z-index: 2;
      //img{ .border-radius(50%); }
      label, .label, .badge {
        margin: 0px;
      }
      &.btn {
        text-align: center;
        vertical-align: middle;
        font-weight: 700;
      }
    }
    .person{
      cursor: pointer;
      .person-photo {
        border-radius: 50%;
        position: absolute;
        background: white;
      }
      .person-name{
        padding-left: (53px+ @grid-gutter-width*0.5);
      }
      .person-status{
        position: relative;
        display: inline-block;
        margin-left: 1px;
        top: -7px;
      }
      z-index: 2;
      &.has-person-photo{
        &~.time {
          top: 50px;
          display: none;
        }
        &:hover{
          &~.time {
            display: block;
          }
        }
      }
    }
    .story,.person{
      position: relative ;
      left: -(53px+ @grid-gutter-width*0.5);
    }
    .story{
      padding-left: 2px;
    }
    .actions {
      display: inline-block;
      position: absolute;
      top: 5px;
      right: 5px;
      padding: 0;
      z-index: 1000;
      button{
        padding: 0;
        background: none !important;
      }
      .dropdown-menu {
        min-width: 100px;
        max-width: 150px !important;
        .border-radius(5px);
        top: 0px;
        right: 15px;
        li > a{
          padding: 5px 16px;
        }
      }
    }
    .meta {
      margin: @grid-gutter-width*0.5 0
    }

    .select {
      position: absolute;
      top: @grid-gutter-width*1.1;
      left: @grid-gutter-width;
      & ~ .link {
        display: block;
        padding-left: @grid-gutter-width*2.5
      }
      &:checked {
        & ~ .link {
          background: #fcf8e3
        }
      }
    }
    .title, .meta {
      color: @gray-light;

    }
    .time {
      position: absolute;
      left: -(60px+ @grid-gutter-width*0.5);
      top: -2px;
      z-index: 5;
      display: block;
      text-align: center ;
      span{
        color: lighten(@concrete, 10%);
        font-size: 75%;
        font-weight: 400;
        display: inline-block;
        text-align: center;
        background: white;
        width: 70px;
      }
    }
    .subject {
      margin-top: 0px;
      margin-bottom: 10px;
      color: @text-color;
      /* font-family: Lato */
      font-size: @font-size-base;
      position: relative;
      //display: inline-block;
      &.heading {
        line-height: @line-height-base;
        font-weight: 600;
        font-family: @font-family-sans-serif;
      }
      .pins {
        margin-left: 5px;
        margin-right: 20px;
        .label{
          //font-size: 100%;
          font-weight: 400;
        }
      }
      .subject, .target {
        margin-right: 5px;
        a {
          font-weight: normal !important
        }
      }
      .action {
        font-weight: normal !important
      }
      .time {
        font-weight: 400;
        color: gainsboro;
      }
      .profile {
        font-weight: normal;
        color: gainsboro;
        margin-left: 5px;
        display: none;
      }
      .privacy {
        margin-left: 20px;
        color: gainsboro
      }
    }
    .stream-labels{
      position: relative;
      left: -1px;
      top: -5px;
      z-index: 1;
      .label{
        margin: 0 2px 5px;
        width: 1px;
        height: 15px;
        font-size: 14px;
        /* text-transform: uppercase; */
        font-weight: normal;
        padding: .2em .6em .3em;
        cursor: pointer;
      }
      &~.stream-content{
        padding: 50px 15px 0;
      }
    }
    .summary {
      margin-bottom: 5px;
      color: @text-color;
      font-size: @font-size-base;
    }
    .content {
      &.quoted,.quoted {
          clear: both;
          color: darken(@gray-dark, 15%);
          font-size: @font-size-base  * 0.95;
          p {
            font-size: inherit;
            color: inherit;
          }
        }
    }
    .participants {
      position: relative;
      margin-bottom: 10px;
      .opacity(0.5);
      .person {
        margin: 0 -30px 1px 0;
        max-width: 50px;
        max-height: 50px;
        cursor: pointer;
        display: none;
        background: white;
        .person-status {
          display: none;
        }
        &:last-child {
          margin-right: 0px;
        }
        &:nth-child(-n+3) {
          display: inline-block
        }
      }
      &:hover {
        .opacity(1);
        background: #FFF;
        .person {
          position: relative;
          margin: 0 -5px 1px 0;
          display: inline-block;
          .person-status {
            display: block;
          }
          &:last-child {
            margin-right: 0px
          }
        }
      }
    }
    &.roll {
      .featured-img, .featured-media, .step-number, .cover-img {
        top: 15px;
      }
    }
    &.bottom-border {
      border-bottom: 1px solid #f7f7f7;
    }
    &:last-child {
      border-bottom: none
    }

    &.open {
      .holder {
        background: #fcfcfd;
        border: 1px solid #f7f7f7;
        margin-bottom: -1px;
      }
    ;
      .title {
        margin-bottom: 10px;
      }
      .content.reading {
        color: @gray-dark;
      }
    }
    .stream-content {
      position: relative;
      padding: 15px;
      .featured-img, .featured-media, .cover-img{
        left: -(40px+ @grid-gutter-width*0.5);
        top: 0px;
      }
    }
    .stream-media {
      margin: 15px 0 15px ;
      & ~ .stream-item {
        padding-top: 15px;
      }
      figure{
        padding: 10px;
        border: 1px solid @clouds;
        iframe, img, video{
          border: none;
          margin-bottom: 10px;
        }

        figcaption{
          color: darken(@gray-dark, 15%);
          background: lighten(@clouds, 5%);
          margin: 0 -8px -8px;
          padding: 1px 10px;
          border-top: 1px solid @clouds;
          h1,h2,h3,h4,h5,h6{
            font-size: @font-size-base;
            margin-bottom: 5px;
            font-weight: 600;
          }
        }
      }
    }
    .stream-subject {
      margin: 0px -15px 0px -90px;
      padding: 0 15px 15px;
      font-weight: 600;
      border-bottom: 1px solid #EEE;
    }

    &.unread {
      background: #FFFDFA
    }
    &.open {
      background: #F6FBFD;
    }
    &:hover{
      .time{
        display: block;
      }
    }
  }
  .nav-pills {
    li > a {
      padding: 0px 10px;
      color: @link-color;
    }
    li:first-child > a {
      padding-left: 0
    }
    li:last-child > a {
      padding-right: 0
    }
    li:hover, li.active {
      & > a {
        background: transparent;
      }
    }
  }
}

.stream {
  &-grid {
    position: relative;
    height: 100%;
    .stream-line, .stream-title {
      display: none;
    }
    .stream {
      //.img-responsive{width: 100%; .box-sizing(border-box)}
      //margin-left: -10px;
      //margin-right: -10px;
      .stream-cover{
        width: 100%;
        max-height: 200px;
        display: block;
        i {
          font-size: 100px;
          vertical-align: middle;
          margin: auto;
          line-height: 200px;
        }
      }
      .stream-labels{
        left:0;
      }
      .stream-item {
        //width: 400px;
        display: inline-block;
        //margin-left: 10px;
        //margin-right: 10px;
        //margin-bottom: 20px;
        margin-top: @grid-gutter-width * 0.5;
        border: none;
      }
    }
  }
  &-list {
    &.form-list {
      border-right: 1px solid transparent
    }
  }
}

.chat-board {
  .panel-input {
    border: none;
  }
}

.chat-thread {
  position: absolute;
  bottom: 167px;
  left: 0;
  right: 0;
  top: 0;
  overflow-y: auto;
  overflow-x: hidden;
  border-left: 1px solid transparent;
  padding: @grid-gutter-width * 0.5;
}

.chat-input {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-left: 1px solid transparent;
  .panel-input {
    margin: 0;
    border-left: none;
    border-right: none;
  }
  &:not(:hover) ~ .chat-thread {
    bottom: 167px
  }
  &:hover ~ .chat-thread {
    bottom: 167px
  }
}

.chat-message {
  padding: 0px 10px 10px;
  .message {
    img.author-pic {
      position: absolute;
      left: 10px;
      top: 10px;
    }
    .content {
      width: auto;
      background: fade(@green-sea, 10%);
      margin: 0 0 0 50px;
      padding: 10px;
      float: right;
    }
    img.author-pic, .content {
      display: inline-block;
    }
    img.author-pic ~ .content {
      background: lighten(@silver, 20%);
      float: left;
    }
    .clearfix();
  }
  &:last-child {
    padding-bottom: 10px
  }
}

//Specialised Streams
.task-list {
  li {
    .link, .link.has-featured-img {
      //min-height: 40px;
      border-bottom: 1px dashed lighten(@clouds, 3%);
    }
    &:last-child {
      .link, .link.has-featured-img {
        border-bottom: 0px solid transparent;
      }
    }
    &.task-time {
    }
    &.task-done {
      .link, .link.has-featured-img {
        h3 {
          text-decoration: line-through;
          .opacity(0.5)
        }
        .content {
          text-decoration: line-through;
          .opacity(0.5)
        }
      }
    }
  }
}

.stream-collapsed {
  .stream-activity{
    //padding-left:  @grid-gutter-width*(5/3);
    padding-left: 0px;
    border-top: none;
    border-bottom: 1px dotted rgba(204, 204, 204, 0.07);
   &:last-child{
     border-bottom: none;
   }

  }
  .stream-list {
    .stream-line {
      display: none;
    }
    .stream-title {
      background-color: #FDFCFC;
      width: 100%;
      border-bottom: 1px solid @clouds
    }
    .stream {
      li {
        cursor: pointer;
        border-bottom: 1px solid @clouds;
        &:hover {
          background: #FDFDFD;
        }
        .person {
          img.person-photo {
            width: 32px;
            height: 32px
          }
        }
        .subject {
          .pins {
            top: 2px;
          }
        }
        .body, .actions .edit {
          display: none;
        }
        &:last-child {
          border-bottom: none
        }
        .item, .link {
          //padding-top: @grid-gutter-width * 0.2;
          //padding-bottom: 0;
         // min-height: 85px;
          &.has-featured-img {
            //padding: @grid-gutter-width;
            padding-left: 10px+ @grid-gutter-width*(5/3);
            //min-height: (30px+@grid-gutter-width);
            & ~ .stream-activity{
              padding-left:  @grid-gutter-width*(5/3);
            }
          }
        }
      }
    }
  }
}

.stream-list-tabs{
  ul.nav-tabs{
    padding: 10px 10px 0;
  }
}

.stream-list-content{
  overflow-x: hidden;
}

.stream-list-editor{
  padding: 10px;
  .stream-editor{
    //background-color: #FDFCFC;
    textarea{
      border: 1px solid @clouds;
      min-height: 50px;
    }
    .btn{
      background: white;
      border: 1px solid @clouds;
      //font-size: 20px;
      vertical-align: top;
      &:last-child{
        border-left: none;
      }
      &:first-child{
        border-right: none;
      }
    }
    &:after{
      //border-color: transparent #FDFCFC;
    }
  }
}

.stream-map-tools{
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: @navbar-height-base * 1.15;
  //background: #ecf0f1;
  padding: 10px;
  z-index: 1000;
  &~.container-block{
    //bottom: (@navbar-height-base * 1.15) + 2
  }
  .twitter-typeahead{
    display: block !important;
  }
  .tt-dropdown-menu{
    top: -200px !important;
    min-height: 150px;
    max-height: 180px;
    overflow-y: scroll;
  }
}

.stream-map-ruler{
  border-bottom: 1px solid @clouds;
  height: @navbar-height-base * 0.65;
  position: relative;
  &~.container-block{
    top: (@navbar-height-base * 0.65 ) + 2
  }
  .ruler{
    margin: 0;
    padding: 0;
    white-space: nowrap;
    li {
      display:  inline-block;
      border-left: 1px solid @silver;
      min-height: 5px;
      width: 10px;
      vertical-align: top;
      white-space: normal;
      &:first-child{
        margin-left: 10px;
      }
      &.major{
        min-height: 15px;
        font-size: 8px;
        text-transform: uppercase;
        box-sizing: border-box;
        padding-left: 5px;
        padding-top: 8px;
        color: @concrete
      }
    }
  }
  .ruler-selector{
    position: absolute;
    top: 0;
    bottom: -2px;
    right: 20%;
    left: 10%;
    background: fade(@peter-river, 30%);
    border-left: 2px solid @peter-river;
    border-right: 2px solid @peter-river;
    .label{
      background: @peter-river;
      position: absolute;
      bottom: -19px;
      color: white;
      font-weight: bold;
      font-size: 10px;
      z-index: 1000;
      padding: 4px 5px;
      text-transform: uppercase;
      //.border-radius(5px);
    }
    .start{
      left: -2px;
    }
    .end{
      right: -2px;
    }
  }
  .ruler-precission{
    position: absolute;
    bottom: -19px;
    color: white;
    background: @belize-hole;
    padding: 4px 5px;
    font-weight: bold;
    font-size: 10px;
    z-index: 1000;
  }
}


.stream-list-title{
  //use the already defined stream-title style
  .stream-title;
  .stream-collapsed.stream-list.stream-title;
  text-transform: inherit;
  text-align: left;

  //margin-right on every child element;
  > * { margin-right: 5px }

  &~.container-block{
    top: 40px;
  }
}

form.stream-flow{
  margin-left: -@grid-gutter-width;
}

.stream-flow{
  padding: @grid-gutter-width * 0.3;


  .stream-list {
    min-height: 100%;

    .stream-intro{
      //background-color: fade(@clouds, 20%);
      //padding: @grid-gutter-width;
      //font-size: 1.1em;
    }

    .stream-outro{
      //background-color: fade(@clouds, 20%);
     // padding: @grid-gutter-width;
      //font-size: 1.1em;
    }

    .stream-item{
      margin-bottom: 20px;
      padding-top: 20px;
      padding-bottom: 40px;
      border-bottom: none;
      .subject, .heading{
        font-size: 1.2em;
        line-height: 2em;
      }
      .summary{
        font-style: italic;
      }
    }
    .step-number{
      border-width: 2px;
      border-color: lighten(@clouds, 3%);
      border-style: solid;
      background: white;
      top: 0px;
      padding-top: 8px;
      &.btn-success{
        border-color: @brand-success;
      }
      &.btn-warning{
        border-color: @brand-warning;
      }
      &.btn-info{
        border-color: @brand-info;
      }
      &.btn-danger{
        border-color: @brand-danger;
      }
    }
    .stream-title {
      background: white;
      margin-bottom: @grid-gutter-width;
      text-transform: uppercase;
      &.end{
        margin-top:@fluid-grid-gutter-width;
        margin-bottom: -1.5 * @fluid-grid-gutter-width;
        border-bottom:  none;
        border-top: 2px solid lighten(@clouds, 3%);;
      }
    }
    .stream-line {
      display: block;
      min-height: 100%;
    }
  }
}
.stream-detailed {
  padding: @grid-gutter-width * 0.3;

  &-title{

    padding: @grid-gutter-width * 0.5;
    .person {
      display: inline-block;
      z-index: 10;
      .person-photo{
        border-radius: 50%;
      }
    }
    .title-body {
      display: inline-block;
      margin: 0 10px;
      vertical-align: top;
      h1 {
        margin: 0px;
        font-size: @font-size-base * 1.15;
        font-weight: bold;
        line-height: 35px;
      }

      .nav-pills {
        a {
          padding: 0px 10px 0 0;
          background: transparent;
          font-size:  @font-size-base * 0.90;
        }
      }
    }

  }

  .stream-activity{
    border: none;
    margin-bottom: 15px;
    font-size: 1em;
    padding-left: 0;
  }

  .stream-list {

    .stream-item {
      border-bottom-color: transparent;
      margin-bottom: @grid-gutter-width;
      p { margin-bottom: 5px }

      &-detailed{
          padding-left: (60px+ @grid-gutter-width*0.5);
          h1,h2,h3,h4,h5,h6{
            font-size: @font-size-base;
            margin: 10px 0;
            font-weight: 800;
          }
      }

    }
    .stream-line {
      display: block;
      width: 1px;
      left: 36px;
      top: -@grid-gutter-width
    }
    .stream-title {
      margin: 18px auto;
      display: block;
      width: 100px;
      background: @brand-primary;
      color: white;
      border-radius: 20px;
      padding: 5px;
    }
    .stream-content {
     // margin: -@grid-gutter-width * 0.25 0 0;
      padding: 0;
      //background: white;
      //border: 1px solid lighten(@clouds, 4%);

      //&:before,&:after{
      //  content: "";
      //  position: absolute;
      //  bottom: -20px;
      //  left: 40px;
      //  border-width: 20px 20px 0;
      //  border-style: solid;
      //  border-color: lighten(@clouds, 3%) transparent;
      //  display: block;
      //  width: 0;
      //}
      //&:before {
      //  top: 24px;
      //  bottom: auto;
      //  left: -20px;
      //  border-width: 15px 20px 15px 0;
      //  border-color: transparent lighten(@clouds, 3%);
      //
      //}
      //&:after {
      //  top: 25px;
      //  bottom: auto;
      //  left: -19px;
      //  border-width: 14px 19px 14px 0;
      //  border-color: transparent #fff;
      //}
    }
  }

  .stream{
    li{
      .item,.link{
        &.has-featured-img{
          &~.stream-activity{
            padding-left: 90px;
          }
        }
      }
    }
  }
}

.container-post-aside{

}
.container-post{
  position:relative;
  max-width: 1400px;
  .container-empty-state{
    display: none;
  }
}

.stream-item-features{
  color: @silver;
  //text-align: center;
  margin: 30px 0;
  i{ color: @silver; font-size: 40px; display: block; margin-bottom: 5px; }
}