
<!-- Imports polymer -->
<link rel="import" href="/theme/vendor/polymer/polymer.html">

<!-- Defines element markup -->
<dom-module id="page-editor">
    <template>Page Editor</template>

    <!-- Registers custom element -->
    <script>
        Polymer({
            is: 'page-editor',

            // Fires when an instance of the element is created
            created: function() {},

            // Fires when the local DOM has been fully prepared
            ready: function() {},

            // Fires when the element was inserted into the document
            attached: function() {},

            // Fires when the element was removed from the document
            detached: function() {},

            // Fires when an attribute was added, removed, or updated
            attributeChanged: function(name, type) {}
        });
    </script>
</dom-module>